.mycarddeck {
    height: calc(70vh);
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-width: thin; /* Thin scrollbar (supported in Firefox) */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0); /* Scrollbar color */
}

/* Style the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.mycarddeck::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.mycarddeck::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Track color (transparent) */
}

.mycarddeck::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Thumb color */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.mycarddeck::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}

#openupdatemodal{
    display: none;
}